*{
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Poppins';
    position: sticky;
    top: 0;
}
.img{
    display: flex;
    align-items: center;
}
.box{
    margin-right: 30px;
}
span{
    margin-right: 12px;
    height: 25px;
    padding: 4px;
}
.img2{
    margin-right: 15px;
    
}
.list-items{
    margin-right: 12px;
    height: 25px;
    padding: 4px;
}
.container{
    display: flex;
    align-items: center;
}
.logo{
     margin-left: 10px;
     height: 25px;
    padding: 4px;
    padding-bottom: 10px;
} 
.list-items:hover{
    background-color: black;
    color: white;
    border-radius: 15px;
   
}
span:hover{
    background-color: black;
    color: white;
    border-radius: 15px;
}
.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    


}
.container1{
    background-image: url("images/accessories2.avif");
    height: 300px;
    width:300px ;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    
    
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 140px;
}
.p1{
    font-weight: 700;
    font-family: 'Poppins' ;
    font-size: 17px;
}
.p2{
    margin-top: 12px;
    font-family: 'Poppins' ;
    font-size: 10px;

}
button{
    background-color: black;
    color: white;
    margin-top: 8px;
    border: 1px solid black;
     border-radius: 18px;
     padding: 10px;
     width: 90px;
     cursor: pointer;

}
button:hover{
    background-color: rgba(0, 0, 0, 0.695);
    
}
.btn{
    background-color: #00838f;
    border: 1px solid #00838f;
    width: 60px;
    font-size: 11px;
    padding: 4px;
    margin-top: 30px;
    margin-left: 20px;
}
.btn:hover{
    background-color: #00838fab;
}
.container2{
    background-image: url("images/accessories3.avif");
    height: 300px;
    width:300px ;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 15px;
    
    
}
.btn2{
    background-color: #00838f;
    border: 1px solid #00838f;
    width: 80px;
    font-size: 11px;
    padding: 4px;
    margin-top: 30px;
    margin-left: 20px;
}
.container3{
    margin-top: 30px;
    background-image: url("images/accessories4.avif");
    height: 300px;
    width:300px ;
    border-radius: 20px;
    margin-left: 20px;
    
    
}
.container4{
    margin-top: 30px;
    background-image: url("images/accessories1.avif");
    height: 300px;
    width:300px ;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.main{
    background-image:url(images/galaxy.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    display: flex;
    justify-content: center;
    color: white;
}
h1{
    color: white;
    font-family: 'Merriweather';
    font-weight:bolder;
    font-size:50px;
    text-align: center;
    margin-top: 12px;

}
.lt{
    font-size: 20px;
    font-family: 'poppins';
    cursor: pointer;

}
.lt:hover{
    background-color: white ;
    color:black;
    border-radius: 15px;

}
